/ =render partial  でnav_barを
#account-page.account-page
  .account-page-wrapper
    %h2.account-page_title 新規ユーザー登録
    / = render "devise/shared/links"
    .account-page__inner--wrapper
      .account-page__inner--wrapper--input
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          %p user info
          %hr
          .input_field_wrapper
            .name_field_label
              = f.label 'お名前'
              %span.strong_label 必須
            .name_field_seimei
              = f.text_field :name, placeholder: "姓  名", class: "input_name_seimei"
          .input_field_wrapper
            .name_field_label
              = f.label 'お名前（カナ）'
              %span.strong_label 必須
            .name_field_kana_seimei
              = f.text_field :kana_name, placeholder: "セイ  メイ", class: "input_name_kana_seimei"
          .input_field_wrapper
            .email_field_label
              = f.label 'メールアドレス'
              %span.strong_label 必須
            .email_field
              = f.text_field :email, placeholder: "info@sample.jp", class: "input_email"
          %p address
          %hr
          .input_field_wrapper
            .postal_field_label
              = f.label '郵便番号'
              %span.strong_label 必須
            .postal_field_code
              = f.text_field :postal_code, placeholder: "郵便番号", class: "input_postal_code"
          .input_field_wrapper
            .address_field_label
              = f.label '住所１'
              %span.strong_label 必須
            .address_field_one
              = f.text_field :address1, placeholder: "市区町村、番地など", class: "input_address_one"
          .input_field_wrapper
            .address_field_label
              = f.label '住所２'
            .address_field_two
              = f.text_field :address2, placeholder: "建物名など（任意）", class: "input_address_two"
          .input_field_wrapper
            .phone_field_label
              = f.label '電話番号'
              %span.strong_label 必須
            .phone_field
              = f.telephone_field :phone, placeholder: "000-0000-0000", class: "input_phone_number"
          %p password
          %hr
          .input_field_wrapper
            .password_field_label
              = f.label 'パスワード'
              %span.strong_label 必須
            .password_field
              = f.password_field :password, autocomplete: "off", placeholder: "英 数 字（小文字）8 文 字 以 上", class: "input_password"
          .input_field_wrapper
            .password_field_label
              = f.label 'パスワード確認'
            .password_field
              = f.password_field :password_confirmation, autocomplete: "off", placeholder: "確認のため、もう一度パスワードを入力してください", class: "input_password"
          = f.submit "上 記 の 内 容 で 登 録", class: 'registration-btn'
