.nav__bar
  .site-title ZoeC
  - if user_signed_in?
    .logout.popup
      = link_to '', destroy_user_session_path, class: "fa fa-times", method: :delete
    .user-edit.popup
      = link_to '', edit_user_path(current_user), class: "fa fa-address-card-o"
    - if true #(current_user.authority == 1 )
      .product-edit.popup
        = link_to '', product_path(current_user), class: "fa fa-briefcase"
      .admin-user-edit.popup
        = link_to '', user_path(current_user), class: "fa fa-users"
  - else
    .new-user.popup
      = link_to '', new_user_registration_path, class: "fa fa-user-plus"
    .login.popup
      = link_to '', new_user_session_path, class: "fa fa-sign-in"
