- unless session[:quantity] == 0
  .current-cart-quantity
    %p #{session[:quantity]}
.nav__bar
  .site-title
    = link_to 'ZoeC', root_path, class: "site-title"
  - if user_signed_in?
    .logout
      = link_to '', destroy_user_session_path, class: "fa fa-times", method: :delete
    .user-edit
      = link_to '', edit_user_path(current_user), class: "fa fa-address-card-o"
    .user-cart
      = link_to '', user_orders_path(current_user), class: "fa fa-shopping-cart fa-lg"
    - if true #(current_user.authority == 1 )
      .product-edit
        = link_to '', edit_product_path(current_user), class: "fa fa-briefcase"
      .admin-user-edit
        = link_to '', user_path(current_user), class: "fa fa-users"
  - else
    .new-user
      = link_to '', new_user_registration_path, class: "fa fa-user-plus"
    .login
      = link_to '', new_user_session_path, class: "fa fa-sign-in"
