.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'banana.jpeg', class: "right-contents-shop-pop"
