= render partial: "nav-bar"
.contents
  .main_contents
    .center__contents
      .center__contents_slider
        %ul#slider
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
        %ul#slider-nav
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
          %li
            = image_tag @product.image
