!!!

%body
  = render partial: "nav-bar"
  .contents
    .main_contents
      .left__contents
        = render partial: "category-list"
      .center__contents
        .center__contents_slider
        .center__contents_wrapper
          .center__contents_campain
            %h5.center__contents_campain-title campain
            %hr.center__contents_campain-line
            .center__contents_campain__top
              .center__contents_campain__top-product
                = image_tag("#{ @product.image }", size: "160x200", class: "product-image")
                %p.center__contents_campain_product-title
                %p.center__contents_campain_product-price
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
          .center__contents_campain
            %h5.center__contents_campain-title recommend
            %hr.center__contents_campain-line
            .center__contents_campain__top
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
          .center__contents_campain
            %h5.center__contents_campain-title coordinate
            %hr.center__contents_campain-line
            .center__contents_campain__top
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
              .center__contents_campain__top-product
      .right__contents
        .right__contents_sale
          = image_tag 'かぼちゃ.png', class: "right-contents-top-pop"
          = image_tag 'かぼちゃよこ.jpeg', class: "right-contents-bottom-pop"
        .right__contents_shop-news-title shop news
        .right__contents_shop-news-list
          = image_tag 'sale-top.png', class: "right-contents-shop-pop"
          .right__contents_shop-news-detail
            %p.shop-news-detail_title test words
            %p.shop-news-detail_description sale sale sale sale sale sale sale sale sale sale sale sale
        = render partial: "shop-list"
  .footer

