!!!
%html
  %head
    %title zoec
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'slick.css'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    = javascript_include_tag 'slick.min.js'

    %p.notice
      = notice
    %p.alert
      = alert

    = yield
