!!!
%html
  %head
    %title zoec
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    %p.notice
      = notice
    %p.alert
      = alert

    = yield
